<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Create a New Campground</h1>
        <div style="width: 30%; margin: 30px auto; btn">
            <form action = "/campgrounds" method = "POST">
                <div class="form-group">
                    <input class="form-control" type = "text" name = "name" placeholder = "name">
                </div>
                <div class="form-group">
                    <input class="form-control" type = "text" name = "image" placeholder = "imageUrl">
                </div>
                <div class="form-group">
                    <textarea class="form-control" type="text" name="description" placeholder="Description of the Campground"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-large btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href = "/campgrounds">Back to Campgrounds Page</a>
        </div>
        
    </div>
</div>
<% include ../partials/footer %>
